Paper2DDemo/Intermediate/
Paper2DDemo/Saved/
Paper2DDemo/DerivedDataCache/
Paper2DDemo/Binaries/iOS/Payload/
*.xcodeproj/
*.sdf
Paper2DDemo/Paper2DDemo.sln
Paper2DDemo/Paper2DDemo.sln.v12.suo
Paper2DDemo/Paper2DDemo.sln.opensdf
Paper2DDemo/Binaries/Win64/
Paper2DDemo/Paper2DDemo.opensdf
Paper2DDemo/Paper2DDemo.v12.suo

Paper2DDemo/.vs/Paper2DDemo/v14/.suo
Paper2DDemo/Build/Receipts/Paper2DDemoEditor-Win64-DebugGame.target.xml
Paper2DDemo/Paper2DDemo.VC.opendb
